.dropdown{
    background-color: blueviolet;
    width: 165px;
    height: 70px;
    font-size: 50px;
}
.dropdown ul{
    display: none;
    background-color: black;
    color: white;
    width: 250px;
}


.dropdown:hover ul{
    display:block;
}
ul{
    list-style: none;
}