

*{
    margin: 0px;
    padding: 0px;
}
ul{
    border: 2px solid white;
    border-radius: 15px;
    list-style: none;
    width: 50%;
    height: 85%;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 25%;
}   
.d1{
    display: inline-block;
    width: 40%;
    height: 20%;
    position: relative;
    top: 25px;


}
.d2{
    display: inline-block;
    border-radius: 15px;
    background-color: blue;
    color: white;
    width: 5%;
    position: relative;
    left:350px;
    top: 25px;
    text-align: center;
}
.d3{
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 15px;
    width: 7%;
    position: relative;
    left:330px;
    top: 25px;
    text-align: center;
}

.d4{
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 3%;
    position: relative;
    left:357px;
    top: 25px;
    text-align: center;
}